h1 {
    background-color: orange;
}

form {
    display: inline-block;
    border: 1px solid rgb(135, 136, 134);
}

.showUserSingleContainer{
    display: inline-block
}

.showUserSingleContainer .showUserSingleInputs {
    border-radius: 5px;
    border: 1px orange solid;
    width: auto;
    background-color: lightblue;
}

.showUserSingleConfirm {
    display: block;
    margin-top: auto;
}

input[type=inputUserText] {
    display: block; /*Define block gives all buttons and text below each other */
}

.addUserContainer {
    display: inline-block;
}