h1 {
    background-color: orange;
}
body {
    background-image: url("/static/joker.jpg");
    background-size: cover;
    font-family: Arial;
}
/*form {
   background-color:    grey
}*/


/**************Show Single User******************/

.showUserSingleConfirm {
    margin-top: auto;
}
input[type=inputUserText] {
    display: block; /*Define block gives all buttons and text below each other */
}
/*********** Show All Users ***********/
.showUsersMultipleContainer {
    display: inline-block;
    font-size: 15px;
}
.showUsersMultipleContainer table {
    margin-top: 5px;
}
.showUsersMultipleContainer table td {
    color: black;
    background-color: white;
    opacity: .9;
    border: 1px;
    border-style: solid;
}
.showUsersMultipleContainer table td a {
    text-decoration: none;
    color: black;
}
.showUsersMultipleContainer table td:hover {
    background-color: greenyellow;
}
/***********MODIFY USER************/
.modifyUserSelectionContainer {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    margin-bottom: 10px;
}
.modifyUserSelectionContainer select  {
    font-size: 20px;
    border: 1px solid;
    background-color:white;
}
.modifyUserSingleContainer label {
    border: 1px solid;
    background-color: lightgray;
}
.modifyUserSingleContainer .modifyUserSingleInputs {
    margin-bottom: 10px;
}
.modifyUserSingleContainer .modifyUserSingleInputs input {
    margin-bottom: 2px;
}
.modifyUserSelectionContainer input {
    font-size: 20px;
    border: 1px solid;
    background-color:white;
}
.modifyUserSingleContainer{
    margin: 5px;
}
.modifyUserSingleContainer .modifyUserSingleInputs {
    display: table;
}
.modifyUserSingleContainer .modifyUserSingleInputs input {
    font-size: 15px;
    border: 1px solid;
    background-color:white;
}
.modifyUserSingleContainer .modifyUserSingleConfirm {
    background-color: lightgray;
    
}

/*****************DELETE USER*****************/
.deleteUserSelectionContainer {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    margin-bottom: 10px;
}
.deleteUserSelectionContainer select  {
    font-size: 20px;
    border: 1px solid;
    background-color:white;
}
.deleteUserSelectionContainer form input[type="submit"] {
    display: inline-block;
    border: 1px solid;
    font-size: 20px;
    background-color: white;
}
/*****************ADD USER********************/
.addUserContainer input[type="text"] {
    color: black;
    font-style: initial;
    border: 1px solid crimson;
    font: outline;
    border-color: black;
    size: 50%;
}
.addUserContainer input {
    display: inline-flex;
    font-size: 20px;
    margin-bottom: 2px;
}
.addUserContainer {
    display: inline-block;
    width: 25%;
}
/********************BILL PAGES**************************/
div.createBillLineContainer  {
    display: block;
    width: 75%;
    background-color: blue;
}
div.createBillLineContainer .createBillLine {
    background-color: green;
    font-size: 20px;
}

div.createBillLineContainer div.createBillLine div.test {
    background-color: red;
    display: inline-flex;
}

div.createBillLineContainer div.createBillLine div.test input[type="text"] {
    border: black solid thin;
}

/****The individual fields of the bill lines*/
div.createBillLineContainer div.createBillLine div.test input[name*="billLineNR"] {
    width: 30px;
}
div.createBillLineContainer div.createBillLine div.test input[name*="Description"] {
    width: 200px;
}
div.createBillLineContainer div.createBillLine div.test input[name="billLineQuantity"] {
    width: 40px;
}
div.createBillLineContainer div.createBillLine div.test input[name="billLineDiscountPercentage"] {
    width: 30px;
}
div.createBillLineContainer div.createBillLine div.test input[name="billLineVatUsed"] {
    width: 30px;
}

/********************TOP MENU**************************/
ul { /*styling the upp menu within this block, the ul items*/
    color: white;
    margin: 0px; /*zero border around element*/
    padding: 0px; /*zero border inside element*/
    list-style: none; /*Removed the bullets infront of the list name*/
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 100;
}
ul li { /*styling the sub menus within this block, the li items*/
    color: white;
    float: left; /*Makes all the li elements aligned to the left*/
    width: 70px;
    height: 35px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
    margin-bottom: 1px;
    border-radius: 5px;
}
ul li a {   /*styling the menu link within this block*/
    z-index: 1;
    text-decoration: none;  /*Removed underline and things like that under the links*/
    color: white; /*if the color is not set here the links that are pressed will have a different color*/
    display: block;
}
ul li a:hover {
    background-color: green;
}
ul li ul li {
    display: none;
}
ul li:hover ul li { /*When we hover the ul li then do something with that ul li*/
    display: block;
}