<!DOCTYPE html>
{{define "head"}}
<head >
    <title>Faktura</title> <!-- This is the text that is shown in the tab of the browser. Title shall be inside <head> -->
    <html>
    <link rel="stylesheet" href="/public/styles.css">
    </html>
</head>
{{end}} 

{{define "createBillCompletePage"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}
        {{template "topMenu"}}
        {{template "createBillUserSelection" .}}
    </body>
{{end}}

{{define "billSelectBox"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}
        {{template "topMenu"}}
        {{template "editBillSelectBox" .}}
    </body>
{{end}}

{{define "billLinesComplete2"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}
        {{template "topMenu"}}
        {{template "editBillSelectBox" .}}
    </body>
{{end}}

{{define "createBillLines"}}
<div class="container">
    <form>
        <div class="createBillLineContainer">
            
                    {{range .}}
                    <div class="billLineInputs{{.LineID}}">
                        <div class="billLines">

                                <div class="labelInput">
                                    <!-- ###Hiding the billLine box with display:none ### -->
                                    <label style="display: none" class="infoBox5" for="billLineID{{.LineID}}">Line ID</label>
                                    <input style="display: none" type="text" title="LineID"name="billLineID{{.LineID}}" value="{{.LineID}}" maxlength="64">
                                </div>
                                <div class="labelTextArea" style="display: block;">
                                    <div class="labelInput">
                                        <label class="infoBox5" for="billLineDescription{{.LineID}}">Description</label>
                                        <!--<input type="text" title="Description" name="billLineDescription{{.LineID}}" value="{{.Description}}" maxlength="512" style="width: 400px">-->
                                        <textarea cols="40" rows="5" style="border: none;" name="billLineDescription{{.LineID}}" value="{{.Description}}" placeholder="{{.Description}}" maxlength="512">{{.Description}}</textarea>
                                    </div>
                                </div>
                                <div class="labelInput">
                                    <label class="infoBox5" for="billLineQuantity{{.LineID}}">Quantity</label>
                                    <input type="text" title="Quantity" name="billLineQuantity{{.LineID}}" value="{{.Quantity}}" maxlength="64">
                                </div>
                                <div class="labelInput">
                                    <label class="infoBox5" for="billLineDiscountPercentage{{.LineID}}">Discount</label>
                                    <input type="text" title="Discount Percentage" name="billLineDiscountPercentage{{.LineID}}" value="{{.DiscountPercentage}}" maxlength="64">
                                </div>
                                <div class="labelInput">
                                    <label class="infoBox5" for="billLineVatUsed{{.LineID}}">Vat</label>
                                    <input type="text" title="Vat Used" name="billLineVatUsed{{.LineID}}" value="{{.VatUsed}}" maxlength="64">
                                </div>
                                <div class="labelInput">
                                    <label class="infoBox5" for="billLinePriceExVat{{.LineID}}">Price Ex Vat</label>
                                    <input type="text" title="Price Ex Vat" name="billLinePriceExVat{{.LineID}}" value="{{.PriceExVat}}" maxlength="64">
                                </div>
                                <div class="labelInput">
                                    <label class="infoBox5" for="billLinePriceExVatTotal{{.LineID}}">Price Ex Vat Total</label>
                                    <input type="text" title="Price Ex Vat" name="billLinePriceExVatTotal{{.LineID}}" value="{{.PriceExVatTotal}}" maxlength="64" readonly>
                                </div>
                        </div>
                    <div class="billLineButtons">
                            <input type="submit" name="billLineModifyButton{{.LineID}}" value="modify">
                            <input type="submit" name="billLineAddButton{{.LineID}}" value="add">
                            <input type="submit" name="billLineDeleteButton{{.LineID}}" value="delete">
                    </div>
                    </div>
                {{end}}
        </div>
    </form>
</div>
{{end}}

{{define "createBillAddLineButton"}}
<div class="container">
    <form>
        <input type="submit" name="addLine" value="add">
    </form>
</div>
{{end}}

{{define "createBillUserSelection"}}
<!--Use the same css as for modify User, TODO: Rewrite the naming to something more generic -->
<div class="container">
    <div class="modifyUserSelectionContainer">
        <form>
            <h3>Select user</h3>
            <!--Sett inn en select boks som viser .Firstname, og legger ID variablen i .Number -->
            <select name="users">
                <option disabled selected value> -- select an option -- </option>
                {{range .Users}}
                    <option value="{{.Number}}">{{.Number}}. {{.FirstName}} {{.LastName}}</option>
                {{end}}
            </select>
            <input type="submit" name="chooseUserButton" value="choose">
        </form>
    </div>
</div>
{{end}}

{{define "billShowUser"}}
<div class="container">
    <form>
        <div class="ShowUserSingleContainer">
            <div class="UserSingleInputs">
                <div class="labelInput">   
                    <label class="infoBox1" for="firstName">Firstname</label>
                    <input class="infoBox2" title="The name" type="inputUserText" name="firstName" value="{{.FirstName}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="lastName">Lastname</label>
                    <input class="infoBox2" title="The lastname" type="inputUserText" name="lastName" value="{{.LastName}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="mail">Mail</label>
                    <input class="infoBox2" title="The mail address" type="inputUserText" name="mail" value="{{.Mail}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="address">Address</label>
                    <input class="infoBox2" title="The address" type="inputUserText" name="address" value="{{.Address}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="poAddr">PostNrAndPlace</label>
                    <input class="infoBox2" title="The Post nr and place" type="inputUserText" name="poAddr" value="{{.PostNrAndPlace}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="phone">Phone</label>
                    <input class="infoBox2" title="The phone number" type="inputUserText" name="phone" value="{{.PhoneNr}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="orgNr">Org Nr</label>
                    <input class="infoBox2" title="The Org nr" type="inputUserText" name="orgNr" value="{{.OrgNr}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="countryId">Country</label>
                    <input class="infoBox2" title="The country ID" type="inputUserText" name="countryId" value="{{.CountryID}}" maxlength="64">
                </div>
            </div>
            <div class="UserSingleConfirm">
                <input type="submit" name="userActionButton" value="manage bills">
                <input type="submit" name="userActionButton" value="add new bill">
                <!--<input type="submit" name="userActionButton" value="modify">-->
            </div>
        </div>
    </form>
</div>
{{end}}

{{define "showBills"}}
<div class="container">
    <form>
        <div class="showBillInfoContainer">
            <div class="labelInputCol1">
                <div class="labelInput">    
                    <label class="infoBox1" for="BillID">Bill ID</label>
                    <input class="infoBox2" type="text" name="BillID" value="{{.BillID}}" readonly>
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="UserID">User ID</label>
                    <input class="infoBox2" type="text" name="UserID" value="{{.UserID}}" readonly>
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="CreatedDate">Created Date</label>
                    <input class="infoBox2" type="date" name="CreatedDate" value="{{.CreatedDate}}" maxlength="64" 
                    required pattern="\d{4}-\d{2}-\d{2}" title="YYYY-MM-DD" placeholder="YYYY-MM-DD">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="DueDate">Due Date</label>
                    <input class="infoBox2" type="date" name="DueDate" value="{{.DueDate}}" maxlength="64" 
                    required pattern="\d{4}-\d{2}-\d{2}" title="YYYY-MM-DD" placeholder="YYYY-MM-DD">
                </div>
            </div>
            <div class="labelInputCol2">
                <div class="labelInput">
                    <label class="infoBox1" for="Comment">Comment</label>
                    <input class="infoBox2" type="text" name="Comment" value="{{.Comment}}" maxlength="512">
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="TotalExVat">Total Ex Vat</label>
                    <input class="infoBox2" type="text" name="TotalExVat" value="{{.TotalExVat}}" readonly>
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="TotalIncVat">Total Inc Vat</label>
                    <input class="infoBox2" type="text" name="TotalIncVat" value="{{.TotalIncVat}}" readonly>
                </div>
                <div class="labelInput">
                    <label class="infoBox1" for="Paid">Paid</label>
                    <input class="infoBox2" type="text" name="Paid" value="{{.Paid}}" maxlength="64">
                </div>
            </div>
        </div>
        <div class="inplab">
                <input class="infoBox2" type="submit" name="billModifyButton" value="modify">
        </div>
    </form>
</div>
{{end}}

{{define "redirectToEditBill"}}
    <meta http-equiv="refresh" content="0; URL=/editBill">
{{end}}

{{define "editBillSelectBox"}}
<div class="editBillSelectBox">
    <form>
        <select name="billID">
            {{range .}}
                <option value="{{.BillID}}">{{.BillID}}.   {{.CreatedDate}}</option>
            {{end}}
        </select>
        <input type="submit" name="userActionButton" value="choose bill">
    </form>
</div>
{{end}}

{{define "topMenu"}}

    <div class="topMenuContainer">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a>User</a>
                <ul>
                    <li><a href="/sp">Show all</a></li>
                    <li><a href="/ap">Add</a></li>
                    <li><a href="/mp">Modify</a></li>
                    <li><a href="/du">Delete</a></li>
                </ul>
            </li>
            <li><a>Bill</a>
                <ul>
                    <li><a href="/createBillSelectUser">Create</a></li>
                </ul>
            </li>
            <li><a>About</a></li>
        </ul>
    </div>

{{end}}