/*------------- Global --------------*/
body {
    /*grid-template-columns: 50%;*/
}

div.container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

label {
    
}

div.labelInput {
    display: inline-block;
    width: fit-content;
    vertical-align: top; /*to make all boxes on the same line drawn at the same y-position*/
}
div.labelInput label {display: block;}
div.labelInput input {display: inline-block;}

input[type="submit"] {
    border: solid lightgrey;
    border-width: 1px;
    border-radius: 3px;
}

/*----------- Show All Users ------------*/
.showUsersMultipleContainer {
    display: inline-block;
}
.showUsersMultipleContainer table {
    margin-top: 5px;
}
.showUsersMultipleContainer table td {
    opacity: .9;
    border: 1px;
    border-style: solid;
    border-radius: 2px;
}
.showUsersMultipleContainer table td a {
    text-decoration: none;
    color: black;
}
.showUsersMultipleContainer table td:hover {
    background-color: greenyellow;
}
/*--------- bill lines ------------*/

div.UserSingleInputs {
    display: grid;
    grid-template-columns: auto auto;
}

div.showBillInfoContainer {
    display: grid;
    grid-template-columns: auto;
    border: solid black;
    background-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
}

div.showPrintBillInfoContainer {
    display: grid;
    grid-template-columns: auto;
    border: solid black;
    background-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
}

div.infoContainerPrintBill { /*This is the part who contains to and from + payment info forms*/
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns:auto auto auto;
    background-color: lightgray;
}
div.userInfoContainer {
    display: grid;
    grid-template-columns: 1/3;
    width: 100%;
    border: solid black;
    background-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
}
div.adminInfoContainer {
    display: grid;
    grid-template-columns: 2/3;
    width: 100%;
    border: solid black;
    background-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
}
div.adminInfoContainer input {

}
div.paymentInfoContainer {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    border: solid black;
    background-color: lightgrey;
    border-width: 1px;
    border-radius: 5px;
}

div.createBillLineContainer {
    display: grid;
    grid-template-columns: auto;
}
div.billLines {
    display: inline-block;
    width: 100%;
    border: solid lightgray;
    background-color: rgb(214, 214, 118);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 5px;
}

/********************TOP MENU**************************/
.topMenuContainer {

    margin-bottom: 30px;
}

ul { /*styling the top row of menu, the one who holds all the top level links*/
    color: white;
    margin: 0px; /*zero border around element*/
    padding: 0px; /*zero border inside element*/
    list-style: none; /*Removed the bullets infront of the list name*/
    display: inline-block;
    width: 100%;
    position: relative;
}
ul li { /*styling the top menus, the li items*/
    color: white;
    float: left; /*Makes all the li elements aligned to the left*/
    width: 100px;
    height: 35px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;

}
ul li a {   /*styling the menu link, the submenus*/
    text-decoration: none;  /*Removed underline and things like that under the links*/
    color: white; /*if the color is not set here the links that are pressed will have a different color*/
    display: block;
}
ul li a:hover {
    background-color: green;
    border-radius: 5px;
    position:relative;
    
}
ul li ul li {
    display: none;
}
ul li:hover ul li { /*When we hover the ul li then do something with that ul li*/
    display: block;
}