<!DOCTYPE html>
{{define "head"}}
<head >
    <title>Faktura</title> <!-- This is the text that is shown in the tab of the browser. Title shall be inside <head> -->
    <html>
    <link rel="stylesheet" href="/public/styles.css">
    </html>
</head>
{{end}} 
<!-- ******************* COMPLETE PAGES ***********************-->
{{define "addUserCompletePage"}}
<!DOCTYPE html>
    <body> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}
        {{template "topMenu" .}} 
        {{template "addUser" .}} 
    </body>
{{end}} 

{{define "showUserCompletePage"}} 
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}} 
        {{template "topMenu" .}} 
        {{template "showUserMultiple" .}} 
    </body>
{{end}} 

{{define "mainCompletePage"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}  
        {{template "topMenu" .}}
        {{template "index" .}}
    </body>
{{end}} 

{{define "modifyUserCompletePage"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}} 
        {{template "topMenu" .}} 
        {{template "modifyUserSelection" .}} 
    </body>
{{end}} 

{{define "deleteUserCompletePage"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}} 
        {{template "topMenu" .}} 
        {{template "deleteUserSelection" .}} 
    </body>
{{end}}

{{define "createBillCompletePage"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}
        {{template "topMenu"}}
        {{template "createBillUserSelection" .}}
    </body>
{{end}}

{{define "billLinesComplete"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}
        {{template "topMenu"}}
        {{template "editBillSelectBox" .}}
    </body>
{{end}}

{{define "billLinesComplete2"}}
<!DOCTYPE html>
    <body>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{template "head" .}}
        {{template "topMenu"}}
        {{template "editBillSelectBox" .}}
    </body>
{{end}}

{{define "header"}}
{{end}} 

{{define "index"}}
    Nothing here yet
{{end}} 

<!-- ******************* USER PAGES ***********************-->

{{define "addUser"}}
<form>
    <div class="addUserContainer">
        <h3>Add user</h3>
        <input type="text" name="firstName" placeholder="Fornavn" required pattern="[a-zA-ZæøåÆØÅ]+">
        <input type="text" name="lastName" placeholder="Etternavn" required pattern="^[a-zA-ZæøåÆØÅ\s]+" maxlength="64">
        <input type="text" name="mail" placeholder="Mail" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" title="Please enter a valid email.">
        <input type="text" name="address" placeholder="Adresse" maxlength="64">
        <input type="text" name="poAddr" placeholder="Post nr og sted" maxlength="64">
        <input type="text" name="phone" placeholder="Telefon nr." maxlength="64">
        <input type="text" name="orgNr" placeholder="Organisasjons nr" maxlength="64">
        <input type="text" name="countryID" placeholder="Country ID" maxlength="64">
        <input type="submit" name="button1" value="Add">
    </div>
</form>
{{end}} 

{{define "modifyUserSelection"}}
<div class="modifyUserSelectionContainer">
    <form>
        <h3>Modify user</h3>
        <!--Sett inn en select boks som viser .Firstname, og legger ID variablen i .Number -->
        <select name="users">
            {{range .}}
                <option value="{{.Number}}">{{.Number}}. {{.FirstName}} {{.LastName}}</option>
            {{end}}
        </select>
        <input type="submit" name="submitModifyButton" value="Choose selected">
    </form>
</div>
{{end}} 

{{define "deleteUserSelection"}}
<div class="deleteUserSelectionContainer">
    <form>
        <h3>Delete user</h3>
        <!--Sett inn en select boks som viser .Firstname, og legger ID variablen i .Number -->
        <select name="users">
            {{range .}}
                <option value="{{.Number}}">{{.Number}}. {{.FirstName}} {{.LastName}}</option>
            {{end}}
        </select>
        <input type="submit" name="submitDeleteButton" value="Delete selected">
        <!--<div class="modifyUserSingleConfirm">
                Mark to confirm changes before you press Apply
                <input type="checkbox" name="sure" value="ok">
                <input type="submit" name="Modify" value="Apply">
        </div>-->
    </form>
</div>
{{end}} 


{{define "showUserMultiple"}}
<div class="showUsersMultipleContainer">
    <form>
        <table>    
            <tr>
                <td>Nr</td><td>Name</td><td>LastName</td><td>Mail</td><td>Address</td><td>Postnr and place</td><td>Phone</td><td>Org nr</td><br>
            </tr>
            {{range .}}
                <tr>
                    <td><a href="mp?users={{.Number}}">{{.Number}}</a></td>
                    <td><a href="mp?users={{.Number}}">{{.FirstName}}</a></td>
                    <td><a href="mp?users={{.Number}}">{{.LastName}}</a></td>
                    <td><a href="mp?users={{.Number}}">{{.Mail}}</a></td>
                    <td><a href="mp?users={{.Number}}">{{.Address}}</a></td>
                    <td><a href="mp?users={{.Number}}">{{.PostNrAndPlace}}</a></td>
                    <td><a href="mp?users={{.Number}}">{{.PhoneNr}}</a></td>
                    <td><a href="mp?users={{.Number}}">{{.OrgNr}}</a></td>
                </tr>
            {{end}}
        </table>
    </form>
</div>
{{end}} 

{{define "modifyUserSingle"}}
<form>
    <div class="modifyUserSingleContainer">
        <div class="modifyUserSingleInputs">
            <!-- <input title="The customer nr" type="text" name="number" placeholder={{.Number}}> -->
            <label for="Firstname">Firstname</label>
            <input title="The name" type="inputUserText" name="firstName" value="{{.FirstName}}" maxlength="64">
            <label for="Lastname">Lastname</label>
            <input title="The lastname" type="inputUserText" name="lastName" value="{{.LastName}}" maxlength="64">
            <label for="Mail">Mail</label>
            <input title="The mail address" type="inputUserText" name="mail" value="{{.Mail}}" maxlength="64">
            <label for="Address">Address</label>
            <input title="The address" type="inputUserText" name="address" value="{{.Address}}" maxlength="64">
            <label for="PostNrAndPlace">PostNrAndPlace</label>
            <input title="The Post nr and place" type="inputUserText" name="poAddr" value="{{.PostNrAndPlace}}" maxlength="64">
            <label for="Phone">Phone</label>
            <input title="The phone number" type="inputUserText" name="phone" value="{{.PhoneNr}}" maxlength="64">
            <label for="Org">Org Nr</label>
            <input title="The Org nr" type="inputUserText" name="orgNr" value="{{.OrgNr}}" maxlength="64">
            <label for="country">Country</label>
            <input title="The country ID" type="inputUserText" name="countryId" value="{{.CountryID}}" maxlength="64">
        </div>
        <div class="modifyUserSingleConfirm">
            Mark to confirm changes before you press Apply
            <input type="checkbox" name="sure" value="ok">
            <input type="submit" name="Modify" value="Apply">
        </div>
    </div>
</form>
{{end}}

<!-- ******************* BILL PAGES *********************-->
{{define "createBillLines"}}
<form>
    <div class="createBillLineContainer">
        <div class="createBillLine">
                {{range .}}
                <div class="billLineInputs{{.LineID}}">
                    <div class="showBillLinesContainer">
                        <div class="inplabCol5">
                            <div class="inplab2">
                                <label class="infoBox5" for="billLineID{{.LineID}}">Line ID</label>
                                <input type="text" title="LineID"name="billLineID{{.LineID}}" value="{{.LineID}}" maxlength="64">
                            </div>
                            <div class="inplab2">
                                <!--<textarea cols="20" rows="1" name="billLineDescription" value="{{.Description}}"></textarea>-->
                                <label class="infoBox5" for="billLineDescription{{.LineID}}">Description</label>
                                <input type="text" title="Description" name="billLineDescription{{.LineID}}" value="{{.Description}}" maxlength="512">
                            </div>
                            <div class="inplab2">
                                <label class="infoBox5" for="billLineQuantity{{.LineID}}">Quantity</label>
                                <input type="text" title="Quantity" name="billLineQuantity{{.LineID}}" value="{{.Quantity}}" maxlength="64">
                            </div>
                        </div>
                        <div class="inplabCol6">
                            <div class="inplab2">
                                <label class="infoBox5" for="billLineDiscountPercentage{{.LineID}}">Discount</label>
                                <input type="text" title="Discount Percentage" name="billLineDiscountPercentage{{.LineID}}" value="{{.DiscountPercentage}}" maxlength="64">
                            </div>
                            <div class="inplab2">
                                <label class="infoBox5" for="billLineVatUsed{{.LineID}}">Vat</label>
                                <input type="text" title="Vat Used" name="billLineVatUsed{{.LineID}}" value="{{.VatUsed}}" maxlength="64">
                            </div>
                            <div class="inplab">
                                <label class="infoBox5" for="billLinePriceExVat{{.LineID}}">Price Ex Vat</label>
                                <input type="text" title="Price Ex Vat" name="billLinePriceExVat{{.LineID}}" value="{{.PriceExVat}}" maxlength="64">
                            </div>
                        </div>
                                <input type="submit" name="billLineModifyButton{{.LineID}}" value="modify">
                                <input type="submit" name="billLineAddButton{{.LineID}}" value="add">
                                <input type="submit" name="billLineDeleteButton{{.LineID}}" value="delete">
                    </div>
                </div>

                <div class="billLineButtons{{.LineID}}">
                    
                </div>
               {{end}} 
        </div>
    </div>
</form>
{{end}}

{{define "createBillAddLineButton"}}
    <form>
        <input type="submit" name="addLine" value="add">
    </form>
{{end}}

{{define "createBillUserSelection"}}
<!--Use the same css as for modify User, TODO: Rewrite the naming to something more generic -->
<div class="modifyUserSelectionContainer">
    <form>
        <h3>Select user</h3>
        <!--Sett inn en select boks som viser .Firstname, og legger ID variablen i .Number -->
        <select name="users">
            <option disabled selected value> -- select an option -- </option>
            {{range .Users}}
                <option value="{{.Number}}">{{.Number}}. {{.FirstName}} {{.LastName}}</option>
            {{end}}
        </select>
        <input type="submit" name="chooseUserButton" value="choose">
    </form>
</div>
{{end}}

{{define "billShowUserSingle"}}
<form>
    <div class="ShowUserSingleContainer">
        <div class="UserSingleInputs">
                <label class="infoBox1" for="firstName">Firstname</label>
                <input class="infoBox2" title="The name" type="inputUserText" name="firstName" value="{{.FirstName}}" maxlength="64">
                <label class="infoBox1" for="lastName">Lastname</label>
                <input class="infoBox2" title="The lastname" type="inputUserText" name="lastName" value="{{.LastName}}" maxlength="64">
                <label class="infoBox1" for="mail">Mail</label>
                <input class="infoBox2" title="The mail address" type="inputUserText" name="mail" value="{{.Mail}}" maxlength="64">
                <label class="infoBox1" for="address">Address</label>
                <input class="infoBox2" title="The address" type="inputUserText" name="address" value="{{.Address}}" maxlength="64">
                <label class="infoBox1" for="poAddr">PostNrAndPlace</label>
                <input class="infoBox2" title="The Post nr and place" type="inputUserText" name="poAddr" value="{{.PostNrAndPlace}}" maxlength="64">
                <label class="infoBox1" for="phone">Phone</label>
                <input class="infoBox2" title="The phone number" type="inputUserText" name="phone" value="{{.PhoneNr}}" maxlength="64">
                <label class="infoBox1" for="orgNr">Org Nr</label>
                <input class="infoBox2" title="The Org nr" type="inputUserText" name="orgNr" value="{{.OrgNr}}" maxlength="64">
                <label class="infoBox1" for="countryId">Country</label>
                <input class="infoBox2" title="The country ID" type="inputUserText" name="countryId" value="{{.CountryID}}" maxlength="64">
        </div>
        <div class="UserSingleConfirm">
            <input type="submit" name="userActionButton" value="manage bills">
            <input type="submit" name="userActionButton" value="add new bill">
            <!--<input type="submit" name="userActionButton" value="modify">-->
        </div>
    </div>
</form>
{{end}}

{{define "showBills"}}
<form>
    <div class="showBillSingleContainer">
        <div class="inplabCol1">
            <div class="inplab">    
                <label class="infoBox3" for="BillID">Bill ID</label>
                <input class="infoBox4" type="text" name="BillID" value="{{.BillID}}" readonly>
            </div>
            <div class="inplab">
                <label class="infoBox3" for="UserID">User ID</label>
                <input class="infoBox4" type="text" name="UserID" value="{{.UserID}}" readonly>
            </div>
            <div class="inplab">
                <label class="infoBox3" for="CreatedDate">Created Date</label>
                <input class="infoBox4" type="date" name="CreatedDate" value="{{.CreatedDate}}" maxlength="64" 
                required pattern="\d{4}-\d{2}-\d{2}" title="YYYY-MM-DD" placeholder="YYYY-MM-DD">
            </div>
            <div class="inplab">
                <label class="infoBox3" for="DueDate">Due Date</label>
                <input class="infoBox4" type="date" name="DueDate" value="{{.DueDate}}" maxlength="64" 
                required pattern="\d{4}-\d{2}-\d{2}" title="YYYY-MM-DD" placeholder="YYYY-MM-DD">
            </div>
        </div>
        <div class="inplabCol2">
            <div class="inplab">
                <label class="infoBox3" for="Comment">Comment</label>
                <input class="infoBox4" type="text" name="Comment" value="{{.Comment}}" maxlength="512">
            </div>
            <div class="inplab">
                <label class="infoBox3" for="TotalExVat">Total Ex Vat</label>
                <input class="infoBox4" type="text" name="TotalExVat" value="{{.TotalExVat}}" readonly>
            </div>
            <div class="inplab">
                <label class="infoBox3" for="TotalIncVat">Total Inc Vat</label>
                <input class="infoBox4" type="text" name="TotalIncVat" value="{{.TotalIncVat}}" readonly>
            </div>
            <div class="inplab">
                <label class="infoBox3" for="Paid">Paid</label>
                <input class="infoBox4" type="text" name="Paid" value="{{.Paid}}" maxlength="64">
            </div>
        </div>
            <div class="inplab">
                <input type="submit" name="billModifyButton" value="modify">
            </div>
    </div>
</form>
{{end}}

{{define "redirectToEditBill"}}
    <meta http-equiv="refresh" content="0; URL=/editBill">
{{end}}

{{define "editBillSelectBox"}}
<form>
    <select name="billID">
        {{range .}}
            <option value="{{.BillID}}">{{.BillID}}.   {{.CreatedDate}}</option>
        {{end}}
    </select>
    <input type="submit" name="userActionButton" value="choose bill">
</form>
{{end}}

<!-- ******************* TOP MENU ***********************-->
<!-- The link opened by the href below is controlled via the http.HandleFunc in main.go-->
{{define "topMenu"}}
<div class="topMenuContainer">
    <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a>User</a>
            <ul>
                <li><a href="/sp">Show all</a></li>
                <li><a href="/ap">Add</a></li>
                <li><a href="/mp">Modify</a></li>
                <li><a href="/du">Delete</a></li>
            </ul>
        </li>
        <li><a>Bill</a>
            <ul>
                <li><a href="/createBillSelectUser">Create</a></li>
            </ul>
        </li>
        <li><a>About</a></li>
    </ul>
</div>
{{end}}