<!DOCTYPE html> {{define "head"}}

<head>
    <title>Faktura</title>
    <!-- This is the text that is shown in the tab of the browser. Title shall be inside <head> -->
    <link rel="stylesheet" href="/public/styles.css">
</head>
{{end}}
<!-- ******************* COMPLETE PAGES ***********************-->
{{define "addUserCompletePage"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/styles.css">
    <title>GoFakt</title>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{template "topMenu" .}} {{template "addUser" .}}
</body>

</html>
{{end}}
<!---->
{{define "showUserCompletePage"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/styles.css">
    <title>GoFakt</title>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{template "topMenu" .}} {{template "showUserMultiple" .}}
</body>

</html>
{{end}}
<!---->
{{define "mainCompletePage"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/styles.css">
    <title>GoFakt</title>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{template "topMenu" .}} {{template "index" .}}
</body>

</html>
{{end}}
<!---->
{{define "modifyUserCompletePage"}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/styles.css">
    <title>GoFakt</title>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{template "topMenu" .}}
</body>

</html>
{{end}}
<!---->
{{define "deleteUserCompletePage"}}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/styles.css">
    <title>GoFakt</title>
</head>

<body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {{template "topMenu" .}} {{template "deleteUserSelection" .}}
</body>

</html>
{{end}}
<!---->
{{define "index"}} Nothing here yet {{end}}

<!-- ******************* USER PAGES ***********************-->
{{define "addUser"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form method="POST">
            <div class="addUserContainer">
                <h3>Add user</h3>
                <input type="text" name="firstName" placeholder="Fornavn" required pattern="[a-zA-ZæøåÆØÅ]+">
                <input type="text" name="lastName" placeholder="Etternavn" required pattern="^[a-zA-ZæøåÆØÅ\s]+" maxlength="64">
                <input type="text" name="mail" placeholder="Mail" required pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" title="Please enter a valid email.">
                <input type="text" name="address" placeholder="Adresse" maxlength="64">
                <input type="text" name="poAddr" placeholder="Post nr og sted" maxlength="64">
                <input type="text" name="phone" placeholder="Telefon nr." maxlength="64">
                <input type="text" name="orgNr" placeholder="Organisasjons nr" maxlength="64">
                <input type="text" name="countryID" placeholder="Country ID" maxlength="64">
                <input type="text" name="bankAccount" placeholder="Bank Account" maxlength="64">
                <input type="submit" name="button1" value="Add">
            </div>
        </form>
    </div>

</body>

</html>
{{end}}
<!---->
{{define "modifyUserSelection"}}
<div class="container">
    <div class="modifyUserSelectionContainer">
        <form>
            <h3>Modify user</h3>
            <!--Sett inn en select boks som viser .Firstname, og legger ID variablen i .Number -->
            <select name="users">
                {{range .}}
                <option value="{{.Number}}">{{.Number}}. {{.FirstName}} {{.LastName}}</option>
                {{end}}
            </select>
            <input type="submit" name="submitModifyButton" value="Choose selected">
        </form>
    </div>
</div>
{{end}}
<!---->
{{define "deleteUserSelection"}}
<div class="container">
    <div class="deleteUserSelectionContainer">
        <form>
            <h3>Delete user</h3>
            <!--Sett inn en select boks som viser .Firstname, og legger ID variablen i .Number -->
            <select name="users">
                {{range .}}
                <option value="{{.Number}}">{{.Number}}. {{.FirstName}} {{.LastName}}</option>
                {{end}}
            </select>
            <input type="submit" name="submitDeleteButton" value="Delete selected">
        </form>
    </div>
</div>
{{end}}
<!---->
{{define "showUserMultiple"}}
<div class="container">
    <div class="showUsersMultipleContainer">
        <form>
            <table>
                <tr>
                    <td>Nr</td>
                    <td>Name</td>
                    <td>LastName</td>
                    <td>Mail</td>
                    <!--<td>Address</td><td>Postnr and place</td><td>Phone</td><td>Org nr</td>-->
                    <br>
                </tr>
                {{range .}}
                <tr>
                    <td>
                        <a href="mp?users={{.Number}}">{{.Number}}</a>
                    </td>
                    <td>
                        <a href="mp?users={{.Number}}">{{.FirstName}}</a>
                    </td>
                    <td>
                        <a href="mp?users={{.Number}}">{{.LastName}}</a>
                    </td>
                    <td>
                        <a href="mp?users={{.Number}}">{{.Mail}}</a>
                    </td>
                    <!--<td><a href="mp?users={{.Number}}">{{.Address}}</a></td>
                        <td><a href="mp?users={{.Number}}">{{.PostNrAndPlace}}</a></td>
                        <td><a href="mp?users={{.Number}}">{{.PhoneNr}}</a></td>
                        <td><a href="mp?users={{.Number}}">{{.OrgNr}}</a></td>-->
                </tr>
                {{end}}
            </table>
        </form>
    </div>
</div>
{{end}}
<!---->
{{define "modifyUser"}}
<div class="container">
    <form>
        <div class="modifyUserContainer">
            <div class="userSingleInputs">
                <div class="labelInput">
                    <label for="Firstname">Firstname</label>
                    <input title="The name" type="inputUserText" name="firstName" value="{{.FirstName}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="Lastname">Lastname</label>
                    <input title="The lastname" type="inputUserText" name="lastName" value="{{.LastName}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="Mail">Mail</label>
                    <input title="The mail address" type="inputUserText" name="mail" value="{{.Mail}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="Address">Address</label>
                    <input title="The address" type="inputUserText" name="address" value="{{.Address}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="PostNrAndPlace">PostNrAndPlace</label>
                    <input title="The Post nr and place" type="inputUserText" name="poAddr" value="{{.PostNrAndPlace}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="Phone">Phone</label>
                    <input title="The phone number" type="inputUserText" name="phone" value="{{.PhoneNr}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="Org">Org Nr</label>
                    <input title="The Org nr" type="inputUserText" name="orgNr" value="{{.OrgNr}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="country">Country</label>
                    <input title="The country ID" type="inputUserText" name="countryId" value="{{.CountryID}}" maxlength="64">
                </div>
                <div class="labelInput">
                    <label for="bankAccount">Bank Account</label>
                    <input title="The bank account" type="inputUserText" name="bankAccount" value="{{.BankAccount}}" maxlength="64">
                </div>
            </div>
            <div class="modifyUserConfirm">
                <input type="submit" name="Modify" value="Apply">
            </div>
        </div>
    </form>
</div>
{{end}}
<!---->
{{define "redirectTomodifyAdmin"}}
<meta http-equiv="refresh" content="0; URL=/modifyAdmin"> {{end}}

<!-- ******************* TOP MENU ***********************-->
<!-- The link opened by the href below is controlled via the http.HandleFunc in main.go-->
{{define "topMenu"}}

<div class="topMenuContainer">
    <ul class="nav">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a>User</a>
            <ul>
                <li>
                    <a href="/showUsers">Show all</a>
                </li>
                <li>
                    <a href="/addUser">Add</a>
                </li>
                <li>
                    <a href="/modifyUser">Modify</a>
                </li>
                <li>
                    <a href="/deleteUser">Delete</a>
                </li>
                <li>
                    <a href="/modifyAdmin">Modify admin</a>
                </li>
            </ul>
        </li>
        <li>
            <a>Bill</a>
            <ul>
                <li>
                    <a href="/createBillSelectUser">Create</a>
                </li>
            </ul>
        </li>
        <li>
            <a>About</a>
        </li>
    </ul>
</div>

{{end}}