h1 {
    background-color: orange;
}

body {
    background: url("joker.jpg") no repeat;
    background-size: cover;
    font-family: Arial;
}

form {
   background-color:    grey
}

.modifyUserSelectionContainer {
    display: inline-block;
    width: 50%;
}

input[type="text"] {
    color: black;
    font-style: initial;
    border: 1px solid crimson;
    font: outline;
    border-color: black;
    size: 50%;
}

.top1Container {
    background-color: lightsalmon;
}

.showUserSingleContainer{
    margin: 5px;
}

.showUserSingleContainer .showUserSingleInputs {
    display: table;
}

.showUserSingleConfirm {
    margin-top: auto;
}

input[type=inputUserText] {
    display: block; /*Define block gives all buttons and text below each other */
}

.addUserContainer {
    display: inline-block;
}

/********************MENU ITEMS**************************/
ul { /*styling the upp menu within this block, the ul items*/
    color: white;
    margin: 0px; /*zero border around element*/
    padding: 0px; /*zero border inside element*/
    list-style: none; /*Removed the bullets infront of the list name*/
}
ul li { /*styling the sub menus within this block, the li items*/
    color: white;
    float: left; /*Makes all the li elements aligned to the left*/
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
}
ul li a {   /*styling the menu link within this block*/
    text-decoration: none;  /*Removed underline and things like that under the links*/
    color: white; /*if the color is not set here the links that are pressed will have a different color*/
    display: block;
}
ul li a:hover {
    background-color: green;
}
ul li ul li {
    display: none;
}
ul li:hover ul li { /*When we hover the ul li then do something with that ul li*/
    display: block;
}