h1 {
    background-color: orange;
}

/*This is for the showUserSingle template*/
.userinfo {
    border-radius: 5px;
    border: orange 1px solid;
    width: 50%;
}

.modifycommit {
    /*border-radius: 5px;
    border: orange 1px solid;*/
    float: left;



}

.adduser {
    border-radius: 5px;
    border: orange 1px solid;
    width: auto;
}

/*Validation of input, uses the 'required' and 'pattern=' in the html file
    This affect all user input boxes */
input:invalid {
    outline: 2px solid red;
  }
  input:focus:invalid { /*When an input field gets focus*/
    color: red;
  }

/*Use focus to change somethings appearance when clicked on*/
input:focus {
    background-color: lightgreen;
}

label {
    float: left;
    width: 20%;
    text-align: right;
    margin-right: 0.5em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.form-field-no-caption {
    margin-left: 20%;
    padding-left: 0.5em;
}

input[type="text"] {
    color: black;
    font-style: initial;
    border: 1px solid crimson;
    font: outline;
    border-color: black;
}