{{define "header"}}
    <h1>En header</h1>
{{end}}

{{define "index"}}
    <h1>Dette er en header</h1>
    <div>Dette er en test</div>
{{end}}

{{define "addUserCompletePage"}}
    {{template "header" .}}
    {{template "top1" .}}
    {{template "addUser" .}}
{{end}}

{{define "addUser"}}
    <form>
        <div>
        <input type="text" name="firstName" placeholder="Fornavn">
        <input type="text" name="lastName" placeholder="Etternavn">
        <input type="text" name="mail" placeholder="Mail">
        <input type="text" name="address" placeholder="Adresse">
        <input type="text" name="poAddr" placeholder="Post nr og sted">
        <input type="text" name="phone" placeholder="Telefon nr.">
        <input type="submit" name="button1" value="Add">			
        </div>
    </form>
{{end}}

{{define "modifyUserCompletePage"}}
    {{template "header" .}}
    {{template "top1" .}}
    {{template "modifyUserSelection" .}}
{{end}}

{{define "modifyUserSelection"}}
    <form>
        <select name="users">
        {{range .}}
            <option value={{.Number}}>{{.FirstName}}</option>
        {{end}}
        </select>
        <input type="submit" name="button5" value="Modify selected">
    </form>
{{end}}

{{define "showUserCompletePage"}}
    {{template "header" .}}
    {{template "top1" .}}
    {{template "showUserMultiple" .}}
{{end}}

{{define "showUserMultiple"}}
    <form>
        {{range .}}
	    <div>
	        <input title="The customer nr" type="text" name="nummer" placeholder={{.Number}}>
	        <input title="The name" type="text" name="navn" placeholder={{.FirstName}}>
	        <input title="The lastname" type="text" name="etternavn" placeholder={{.LastName}}>
	        <input title="The mail address" type="text" name="mail" placeholder={{.Mail}}>
	        <input title="The address" type="text" name="adresse" placeholder={{.Address}}>
	        <input title="The Post nr and place" type="text" name="post nr og sted" placeholder={{.PostNrAndPlace}}>
	        <input title="The phone number" type="text" name="telefon nummer" placeholder={{.PhoneNr}}>			
        </div>
        {{end}}
    </form>
{{end}}


{{define "top1"}}
    <style>
        form { display: inline; }
    </style>
    <form action="/sp" method="post">
        <input type="submit" name="button1" value="show persons">
    </form>

    
    <form action="/ap" method="post">
        <input type="submit" name="button2" value="add persons">
    </form>

    
    <form action="/mp" method="post">
        <input type="submit" name="button3" value="modify persons">
    </form>

{{end}}