{{define "createBillLinesNew"}}
<style>
    div.billLines {
        background-color: green;
    }
    div.billLines .billLine {
        display: inline-block;
        background-color: yellow;
    }
</style>
<form id="createBillLines">
    <div id="billLinesBlock">
        {{range .}}
        <div id="billLines{{.LineID}}" class="billLines">
            
            <script>
                var input = document.createElement("input")
                input.setAttribute("value","{{.LineID}}")
                input.setAttribute("type","text")
                input.className = "billLine"
                var div = document.getElementById("billLines{{.LineID}}")
                div.appendChild(input)

                var input = document.createElement("input")
                input.value = "{{.Description}}"
                input.type = "text"
                input.className = "billLine"
                var div = document.getElementById("billLines{{.LineID}}")
                div.appendChild(input)

                var input = document.createElement("input")
                input.value = "{{.Quantity}}"
                input.type = "text"
                input.className = "billLine"
                var div = document.getElementById("billLines{{.LineID}}")
                div.appendChild(input)

                var input = document.createElement("input")
                input.value = "{{.DiscountPercentage}}"
                input.type = "text"
                input.className = "billLine"
                var div = document.getElementById("billLines{{.LineID}}")
                div.appendChild(input)

                var input = document.createElement("input")
                input.value = "{{.VatUsed}}"
                input.type = "text"
                input.className = "billLine"
                var div = document.getElementById("billLines{{.LineID}}")
                div.appendChild(input)

                var input = document.createElement("input")
                input.value = "{{.PriceExVat}}"
                input.type = "text"
                input.className = "billLine"
                var div = document.getElementById("billLines{{.LineID}}")
                div.appendChild(input)
                //****
                var button = document.createElement("input")
                button.type = "submit"
                button.name = "billLineActionButton"
                button.value = "add"
                button.setAttribute("onClick","pushedAddLine({{.LineID}})")
                button.id ="add{{.LineID}}"
                div.appendChild(button)

                var button = document.createElement("input")
                button.type = "submit"
                button.name = "billLineActionButton"
                button.value = "del"
                button.setAttribute("onClick","pushedDelLine({{.LineID}})")
                button.id = "del{{.LineID}}"
                div.appendChild(button)
            </script>
            
        </div>
        {{end}}
        <script>
            //button.onclick = window.alert("Trykket på en knapp med id" + this.id)
            //pushedAddLine : takes the id for the chosen line as input
            function pushedAddLine(id) {
                window.alert("id = " + id)
            }

            //pushedDelLine : takes the id for the chosen line as input
            function pushedDelLine(id) {
                if (window.confirm("Really delete ?")) {
                    document.getElementById("billLines"+id).remove()
                }
                //window.alert("billLines"+id)
                //window.alert("Delete button pushed with id = " + event.srcElement.id)
            }
        </script>
    </div>
</form>
{{end}}