h1 {
    background-color: orange;
}
body {
    background-image: url("/static/joker.jpg");
    background-size: cover;
    font-family: Arial;
}
/*form {
   background-color:    grey
}*/


/**************SHOW ALL USER******************/

.showUsersMultipleContainer {
    display: inline-block;
}
.showUserSingleConfirm {
    margin-top: auto;
}
input[type=inputUserText] {
    display: block; /*Define block gives all buttons and text below each other */
}
.showUsersMultipleContainer table {
    margin-top: 3cm;
}
.showUsersMultipleContainer table td {
    color: black;
    background-color: white;
    opacity: .9;
    border: 1px;
    border-style: solid;
}
.showUsersMultipleContainer table td a {
    text-decoration: none;
    color: black;
}
.showUsersMultipleContainer table td:hover {
    background-color: greenyellow;
}
/***********MODIFY USER************/
.modifyUserSelectionContainer {
    display: inline-block;
    width: 25%;
    font-size: 20px;
    margin-bottom: 10px;
}
.modifyUserSelectionContainer select  {
    font-size: 20px;
    border: 1px solid;
    background-color:white;
}
.modifyUserSingleContainer label {
    border: 1px solid;
}
.modifyUserSelectionContainer input {
    font-size: 20px;
    border: 1px solid;
    background-color:white;
}
.modifyUserSingleContainer{
    margin: 5px;
}
.modifyUserSingleContainer .modifyUserSingleInputs {
    display: table;
}
.modifyUserSingleContainer .modifyUserSingleInputs input {
    font-size: 15px;
    border: 1px solid;
    background-color:white;
}

/*****************ADD USER********************/
.addUserContainer input[type="text"] {
    color: black;
    font-style: initial;
    border: 1px solid crimson;
    font: outline;
    border-color: black;
    size: 50%;
}
.addUserContainer input {
    display: inline-flex;
    font-size: 20px;
    margin-bottom: 2px;
}
.addUserContainer {
    display: inline-block;
    width: 25%;
}

/********************TOP MENU**************************/
ul { /*styling the upp menu within this block, the ul items*/
    color: white;
    margin: 0px; /*zero border around element*/
    padding: 0px; /*zero border inside element*/
    list-style: none; /*Removed the bullets infront of the list name*/
    display: inline-block;
    width: 100%;
}
ul li { /*styling the sub menus within this block, the li items*/
    color: white;
    float: left; /*Makes all the li elements aligned to the left*/
    width: 200px;
    height: 35px;
    background-color: black;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    margin-right: 2px;
    border-radius: 5px;
}
ul li a {   /*styling the menu link within this block*/
    text-decoration: none;  /*Removed underline and things like that under the links*/
    color: white; /*if the color is not set here the links that are pressed will have a different color*/
    display: block;
}
ul li a:hover {
    background-color: green;
}
ul li ul li {
    display: none;
}
ul li:hover ul li { /*When we hover the ul li then do something with that ul li*/
    display: block;
}